<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to mysite</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam earum, nostrum error minus sint repellat laborum fuga soluta sequi, at ut quasi tempora doloremque! Ex dolorum repellat blanditiis natus sequi aliquid vero deleniti facere?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quaerat officia est dolor accusamus similique non quod sit error tempore, repellendus eaque sequi, voluptatibus rerum. Sunt dicta, voluptatibus quaerat suscipit ullam similique ut ipsa fugit libero, culpa, harum quisquam accusantium optio consectetur laudantium.</p>
    
</body>
</html>